.scrollbar-track {
    background-color: gray;
}

.scrollbar-grip {
    background-color: #D3D3D3;
}

.scrollbar-track-button:hover {
    background-color: #FFFFFF 50%;
}

.scrollbar-track:hover {
    background-color: #737373;
}

.scrollbar-grip:hover {
    background-color: #C6C6C6;
}

radio-button > > .box {
    background-color: rgba(0, 0, 0, 0);
    border-color: black;
    border-width: 1;
}

radio-button > > .mark {
    background-color: black;
}

checkbox > > .box {
    background-color: rgba(0, 0, 0, 0);
    border-color: black;
    border-width: 1;
}

checkbox > > .mark {
    background-color: rgba(0, 0, 0, 0);
}

text-field {
    color: white;
    shadow: true;
    shadow-color: #4C4C4C;
}

text-field > .text-field-prompt-text {
    color: #7F7F7F;
    shadow: false;
}

label > text {
    shadow: false;
    color: #404040;
}